@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Corben');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');

.reveal .title-slide {
    background-color: #00a3cc;
    color: white;
}

.reveal section {
    font-family: 'Roboto', san-serif;
}

.reveal section > ul {
    margin-top: 1em;
}

.reveal section li {
    margin-bottom: 0.25em;
}

.reveal h1 {
    font-size: 2em;
    font-family: 'Shrikhand', serif;
    text-transform: none;
    color: #00a3cc;
}

.reveal h2 {
    font-size: 1.7em;
    font-family: 'Shrikhand', serif;
    text-transform: none;
    color: #00a3cc;
}

.reveal h3 {
    font-size: 1.4em;
    font-family: 'Shrikhand', serif;
    text-transform: none;
    color: #00a3cc;
}

.reveal section a {
    color: #00a3cc;
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
}


.dictionary .entry-word {
    font-family: 'Corben', serif;
    font-weight: bold;
    font-size: 2em;
    color: #00a3cc;
}
.dictionary .pronunciation {
    color: DimGray;
}
.dictionary .part-of-speech {
    font-style: italic;
}
.dictionary .definition {
    margin-top: 1em;
}
.dictionary .usage-example {
    margin-top: 1em;
    font-style: italic;
    color: DimGray;
}

.reveal .nativescript-logo {
    max-width: 300px;
}
